<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>Agenda</title>
	</head>
	<body>
		<header>
			<h1>CALENDARIO 2022</h1>
			<img alt="aquí un calendario" src="../static/images/calendario.jpg" title="un calendario" height="400" width="700">
		</header>
		<nav>
			<ul>
				<li> <a href="index.html">Inicio</a></li>
				<li> <a href="agenda.html" >Agenda</a></li>
				<li> <a href="beneficios.html">Beneficios y Becas</a></li>
				<li> <a href="contactos.html">Contáctanos</a></li>
			</ul>
		</nav>
		<section>
			<p>
				<br/>¿Sabías que ...?<br/>
				La risa es un calmante natural ya que potencia la segregación de endorfinas,<br/>
				unas sustancias que sirven para aliviar el dolor.<br/>
				Se ha demostrado que reir nos ayuda a combatir el estrés, propicia la relajación<br/>
				y el bienestar general.<br/>
				La risoterapia es una técnica que busca producir beneficios mentales y emocionales<br/>
				por medio de la risa.<br/><br/>
			</p>
		</section>
		<video src="../static/videos/video.mp4" controls="controls"></video>
		<footer><br/>
			<p>2022. Portal de Capacitación – Av. Gral. Manuel Belgrano 789 – Teléfono (388) 999999 S. S. de Jujuy República 
	Argentina.</p><br/>
		</footer>
	</body>
</html>