<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>Beneficios y becas</title>
	</head>
	
	<body>
	
		<header th:replace="/layouts/header::header"></header>
		
		<section>
		<hr/>
		<!-- Saltos de linea -->
		<br/><br/>
			<big><strong><p align="center"> ***Pagina en construccion*** </p></strong></big>
		</section>
		
		<!-- Saltos de linea -->
		<br/><br/><br/>
		
		<footer th:replace="/layouts/footer::footer"></footer>
		
	</body>

</html>