<!DOCTYPE html>
<html lang = "es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>Beneficios y becas</title>
	</head>
	
	<body>
	
		<header>
			<h1 align="center">UNIVERSIDAD DE JUJUY</h1>
			<img src="../static/images/becas.jpg" alt="image becas y beneficios" title="Presentacion de Becas y Beneficios" width="1350px" height="200px" />
		</header>
		
		<nav>
			<ul>
		      <li> <a href="index.html"> Inicio</a></li>
		      <li> <a href="agenda.html" >Agenda</a></li>
		      <li> <a href="beneficios.html" > Beneficios y Beca</a></li>
		      <li> <a href="contactos.html" > Contactanos</a></li>       
			</ul>
		</nav>
		
		<section>
		<hr/>
		<!-- Saltos de linea -->
		<br/><br/>
			<big><strong><p align="center"> ***Pagina en construccion*** </p></strong></big>
		</section>
		
		<!-- Saltos de linea -->
		<br/><br/><br/>
		
		<footer>
		<hr/> <!-- linea negra  -->
			<p>2022. Portal de Capacitación – Av. Gral. Manuel Belgrano 789 – Teléfono 
			(388) 999999 S. S. de Jujuy República
			Argentina. </p>
		</footer>
		
	</body>

</html>