<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
	<title>
		
	</title>
</head>

<!-- CLASE PRACTICA DE Programacion visual-->

<body>

<header th:replace="/layouts/header::header"></header>
<div class="cont">
<div class="contenedor">
<div class="form">


<form action="/action_page.php">

  <div class="mb-3">
  
    <label for="nombre" class="form-label">Nombre y Apellido:</label>
   <input type="text" class="form-control" placeholder="Normal input" name="nombre">
  </div>
   <label for="nombre" class="form-label">Provincia:</label>
  <select class="form-select">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
</select>
  <div class="mb-3">
    <label for="telefono" class="form-label">Telefono:</label>
   <input type="text" class="form-control" placeholder="Normal input">
  </div>
   <div class="mb-3 mt-3">
    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
  </div>
  
  <div class="mb-3">
    <label for="telefono" class="form-label">Telefono:</label>
   <input type="text" class="form-control" placeholder="Normal input">
  </div>
  
   <label for="telefono" class="form-label">Estado civil:</label>
  <div class="form-check">
  <input type="radio" class="form-check-input" id="radio1" name="optradio" value="casado" checked>Casado
  <label class="form-check-label" for="radio1"></label>
</div>
<div class="form-check">
  <input type="radio" class="form-check-input" id="radio2" name="optradio" value="soltero">Soltero
  <label class="form-check-label" for="radio2"></label>
</div>
<div class="form-check">
<input type="radio" class="form-check-input" id="radio2" name="optradio" value="option3">Option 3
  <label class="form-check-label" forn="option3"></label>
</div>
  <label for="comment">Comments:</label>
<textarea class="form-control" rows="5" id="comment" name="text"></textarea>
  
  
  
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>

</div>
</div>
<footer th:replace="/layouts/footer::footer"></footer>
	
	<script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
	<script src="/webjars/popper.js/umd/popper.min.js" type="text/javascript"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>



</body>
<!-- static/{images,videos}-->


</html>