<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	
	<title>
		
	</title>
</head>

<!-- CLASE PRACTICA DE Programacion visual-->

<body>

<header th:replace="/layouts/header::header"></header>
<form  action="contactos.html" method="GET">
	
	<label for="Nombre">Nombre y Apellido</label>
    <input type="text" name="Nombre">
    <br/>
     <label> Provincias</label>
    <select name="provincias">

    	<option name="jujuy" >Jujuy</option>
    	<option name="Buenos Aires">Buenos Aires</option>
    	<option name="Santa Fe">Santa Fe</option>
        <option name="La Rioja">La Rioja</option>
        <option name="Chaco">Chaco</option>
        <option name="Santiago de Estero">Santiago del Estero</option>
        <option name="Salta">Salta</option>
        <option name="Tucuman">Tucuman</option>
        <option name="Tierra del Fuego">Tierra del Fuego</option>
        <option name="Cordoba">Cordoba</option>
        <option name="Neuquen">Neuquen</option>
        <option name="Corrientes">Corrientes</option>
        <option name="La Pampa">La Pampa</option>
        <option name="Santa Cruz">Santa Cruz</option>
        <option name="Rio Negro">Rio Negro</option>
        <option name="San Juan">San Juan</option>
        <option name="Formosa">Formosa</option>
        <option name="Catamarca">Catamarca</option>
        <option name="Mendoza">Mendoza</option>
        <option name="San Luis">San Luis</option>
        <option name="Entre Rios">Entre Rios</option>
        <option name="Misiones">Misiones</option>
        <option name="Chubut">Chubut</option>



    </select>

    <br/>



    <label for="Telefono">Telefono</label>
    <input type="text" name="Telefono">
    <br/>
    <label for="correo">Correo Electronico</label>
    <input type="email" name="correo">

    <br/>

    <label for="situacion">Estado Civil</label><br/>
    <input type="radio" name="casado">Casado<br/>
    <input type="radio" name="soltero">Soltero<br/>
    <input type="radio" name="otro ">Otro<br/>

<label for="mensaje">Mensaje :</label>
<textarea name="textoIngresado"></textarea>
<br/>


<button type="submit">Enviar Datos</button>
</form>

<footer th:replace="/layouts/footer::footer"></footer>




</body>
<!-- static/{images,videos}-->


</html>