<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Idiomas</title>
</head>
<body>
<header>
	<h1>Idiomas</h1>
	<img src="../static/images/idiomas.png" alt="imagen de banderas" title="imagen ilustrativa de idiomas" width="700px" height="300px" />
</header>

<nav>
	
	<ul>
      <li> <a href="index.html"> Inicio</a></li>
       <li> <a href="agenda.html" >Agenda</a></li>
        <li> <a href="beneficios.html" > Beneficios y Beca</a></li>
         <li> <a href="contactos.html" > Contactanos</a></li>
       
	</ul>

	</nav>
	
	<section>
	<h2>Cursos disponibles de Idiomas</h2>
		<p>Aprender otro idioma no es solamente aprender palabras diferentes para las mismas cosas, sino aprender otra manera de pensar acerca de las cosas</p><br/>

		<table border="1">
		
		<tr>
			<td>Titulo del curso</td>
			<td>Fecha de inicio</td>
			<td>Horario</td>
			<td>Fecha fin</td>
			<td>Modalida (presencial/virtual)</td>
			<td>Docente</td>
			<td>Duracion de semana</td>

		</tr>	

		<tr>
			<td>Ingles</td>
			<td>15/08/2022</td>
			<td>Lunes-Miercoles-Viernes 15pm</td>
			<td>15/08/2023</td>
			<td>Virtual</td>
			<td>Macarena Morilla</td>
			<td>52 semanas</td>

		</tr>
		<tr>
			<td>Frances</td>
			<td>10/09/2022</td>
			<td>Lunes-Miercoles-Viernes 18pm</td>
			<td>15/08/2023</td>
			<td>Virtual</td>
			<td>Susana Taboada</td>
			<td>48 semanas</td>

		</tr>
		<tr>
			<td>Portugues</td>
			<td>10/09/2022</td>
			<td>Lunes-Miercoles-Viernes 20pm</td>
			<td>15/08/2023</td>
			<td>Virtual</td>
			<td>Guillermina Cruz</td>
			<td>48 semanas</td>

		</tr>
		</table>

	</section>
	
	<footer><br/>
			<p>2022. Portal de Capacitación – Av. Gral. Manuel Belgrano 789 – Teléfono (388) 999999 S. S. de Jujuy República 
	Argentina.</p><br/>
		</footer>
</body>
</html>