<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
	<title>Idiomas</title>
</head>
<body>

<header th:replace="/layouts/header::header"></header>
<div class="cont">
	<section>
	 <center>
	<h1>Cursos disponibles de Idiomas </h1>
	</center>

<br>

	<div>
	<img src="/images/idiomas.jpg" width="800" class="rounded mx-auto d-block img-fluid" >
	
	<small class="lead">Aprender otro idioma no es solamente aprender palabras diferentes para las mismas cosas, sino aprender otra manera de pensar acerca de las cosas</small>


	</div>
	<br>
	<div class="table-responsive">
	
		<table border="1" class="table table-bordered border-dark " >
		<thead class="table-dark">
		<tr>
		 
			<td>Titulo del curso</td>
			<td>Fecha de inicio</td>
			<td>Horario</td>
			<td>Fecha fin</td>
			<td>Modalidad (presencial/virtual)</td>
			<td>Docente</td>
			<td>Duracion de semana</td>
		</tr>	
		</thead>

		<tr>
			<td>Ingles</td>
			<td>15/08/2022</td>
			<td>Lunes-Miercoles-Viernes 15pm</td>
			<td>15/08/2023</td>
			<td>Virtual</td>
			<td>Macarena Morilla</td>
			<td>52 semanas</td>

		</tr>
		<tr>
			<td>Frances</td>
			<td>10/09/2022</td>
			<td>Lunes-Miercoles-Viernes 18pm</td>
			<td>15/08/2023</td>
			<td>Virtual</td>
			<td>Susana Taboada</td>
			<td>48 semanas</td>

		</tr>
		<tr>
			<td>Portugues</td>
			<td>10/09/2022</td>
			<td>Lunes-Miercoles-Viernes 20pm</td>
			<td>15/08/2023</td>
			<td>Virtual</td>
			<td>Guillermina Cruz</td>
			<td>48 semanas</td>

		</tr>
	</table>
	
	</div>


	</section>
	</div>
	<br>
	<footer th:replace="/layouts/footer::footer"></footer>
	
	<script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
	<script src="/webjars/popper.js/umd/popper.min.js" type="text/javascript"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>