<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		
	</title>
</head>


<body>

<header>
	<h1>PAGINA DE INICIO</h1>
	<img src="../static/images/presentacion.jpg" alt="aqui la presentacion" title="Presentacion de la pagina" width="1000px" height="300px" />

</header>
	<nav>
	
	<ul>
      <li> <a href="index.html"> Inicio</a></li>
       <li> <a href="agenda.html" >Agenda</a></li>
        <li> <a href="beneficios.html" > Beneficios y Beca</a></li>
         <li> <a href="contactos.html" > Contactanos</a></li>
       
	</ul>

	</nav>

	<section>
		<h2>Cursos con inscripcion abierta</h2>
        <ol>
	<li> <a href="idiomas.html"> Idiomas</a></li>
       <li> <a href="" >Diseño</a></li>
        <li> <a href="" >Desarrollo</a></li>
         <li> <a href="" >Marketing</a></li>
         <li> <a href="" >Conferencia </a></li>
</ol>
	</section>

<footer><br/>
			<p>2022. Portal de Capacitación – Av. Gral. Manuel Belgrano 789 – Teléfono (388) 999999 S. S. de Jujuy República 
	Argentina.</p><br/>
		</footer>




</body>



</html>