<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<title>
		
	</title>
</head>


<body>

<header th:replace="/layouts/header::header"></header>


	
	<section>
		<h2>Cursos con inscripcion abierta</h2>
        <ol>
	<li> <a href="idiomas"> Idiomas</a></li>
       <li> <a href="" >Diseño</a></li>
        <li> <a href="" >Desarrollo</a></li>
         <li> <a href="" >Marketing</a></li>
         <li> <a href="" >Conferencia </a></li>
</ol>
	</section>

<footer th:replace="/layouts/footer::footer"></footer>




</body>



</html>