<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<title>Lista de Docentes</title>
</head>
<body>

<header th:replace="/layouts/header::header"></header>
<div class="cont">
<!-- INICIO DE TABLA -->
<div class="container">
			<br>
			<p class="h4 mb-10">Docentes</p>
			<br>
			<div class="d-grid gap-2 d-md-flex justify-content-md-end">
			   <a th:href="@{/docente/nuevo}" id="nuevo" class="btn btn-primary">Nuevo</a>
			</div>
			<br>
			<div class="col-12 d-flex justify-content-center">
				<table class="table table-striped table-hover">
						<tr>
							<th>Legajo</th>
							<th>Apellidos</th>
							<th>Nombres</th>
							<th>E-mail</th>
							<th>Teléfono</th>
							<th>Opciones</th>
						</tr>	
						<tr th:each="docente: ${lista}">
							<td th:text="${docente.legajo}"></td>
							<td th:text="${docente.apellido}"></td>
							<td th:text="${docente.nombre}"></td>
							<td th:text="${docente.email}"></td>
							<td th:text="${docente.telefono}"></td>
							<td>
							<a href="#" id="editarDocente" class="btn btn-warning">Editar</a>
							<a href="#" id="eliminarDocente" class="btn btn-danger">Eliminar</a>
							</td>
						</tr>
					</table>
				<br><br>
				
			</div>
		
		</div>
		
		<!-- FIN DE TABLA -->
		</div>
		<footer th:replace="/layouts/footer::footer"></footer>

    <script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
	<script src="/webjars/popper.js/umd/popper.min.js" type="text/javascript"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

		
</body>
</html>