<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
<header th:fragment="header">

	<h1>Cursos de Capacitacion</h1>
	<img src="/images/presentacion.jpg" alt="aqui la presentacion" title="Presentacion de la pagina" width="1000px" height="300px" />


<nav>
	
	<ul>
      <li> <a href="inicio"> Inicio</a></li>
       <li> <a href="agenda" >Agenda</a></li>
        <li> <a href="beneficios" > Beneficios y Beca</a></li>
         <li> <a href="contactos" > Contactanos</a></li>
       
	</ul>

	</nav>

</header>
</body>
</html>